<!DOCTYPE html>


<html data-th-replace="~{layout :: frag_layout(content= ~{::main},
                                                title='Réponse jeu pseudo')}">

<main>
    <h1> Le Jeu de One Piece</h1>

    <div class="score">SCORE :
        <p class="chiffre_score" data-th-text="${'+ ' + score}"></p>
        <p class="chiffre_score_definitif" data-th-text="${nouveauScore}"></p>
    </div>

    <div class="resultat">
        <p data-th-text="${resultat}"></p>
        <br><br>
    </div>

    <form action="/jeu/jeu_groupe" method="post">
        <div class="reponse">
            <div>
                <input id="numerodequestion" name="numerodequestion" type="number" value="3" hidden />
                <input id="idPerso" name="idPerso" type=number th:value="${personnageChoisi.id}" hidden />
                <input id="score" name="score" type=number th:value="${nouveauScore}" hidden />
            </div>
            <div>
                <button type="submit">Passage au jeu suivant</button>
            </div>
        </div>

</main>

</html>