<!DOCTYPE html>


<html data-th-replace="~{layout :: frag_layout(content= ~{::main},
                                                title='Reponse à la question '+ ${numeroDeQuestion} )}">

<main>
    <div class="presentation">
    <h1 data-th-text="'Réponse à la question ' + ${numeroDeQuestion} "> </h1>

    <div class="score">SCORE :
        <p class="chiffre_score" data-th-text="${'+ ' + score}"></p>
        <p class="chiffre_score_definitif" data-th-text="${nouveauScore}"></p>
    </div>

    <div class="resultat">
        <p data-th-text="${reponseAffiche}"></p>
    </div>


    <div class="reponse">
    <form action="/jeu/finir_le_jeu" method="post">
            <div>
                <input id="numerodequestion" name="numerodequestion" type="number" th:value="${numeroDeQuestion}" hidden />
                <input id="idPerso" name="idPerso" type=number th:value="${personnageChoisi.id}" hidden />
                <input id="score" name="score" type=number th:value="${nouveauScore}" hidden />
            </div>
            <div>
                <button id="fin" name="fin" type="submit">FINIR LE JEU</button>
            </div>
    </form>
    </div>
    </div>
</main>

</html>