<!DOCTYPE html>


<html data-th-replace="~{layout :: frag_layout(content= ~{::main},
                                                title='Réponse à la question 1')}">

<main>
    <h1> Réponse à la question 1</h1>

    <div class="score">SCORE :
        <p class="chiffre_score" data-th-text="${'+ ' + score}"></p>
        <p class="chiffre_score_definitif" data-th-text="${nouveauScore}"></p>
    </div>

    <!--<div  data-th-text="${'Ta réponse était ' + reponseBrute }">  </div> -->
    <div class="resultat">
        <p data-th-text="${'Le personnage a trouver était ' + nomComplet }"></p>
        <br><br>
        <p data-th-text="${resultat}"></p>
    </div>

    <data-th-block data-th-if="${questionSuivante=='Surnom'}">

        <h2> Question 2 : Quel est le pseudonyme de ce personnage ? </h2>

        <div class="reponse">
            <form action="/jeu/question_pseudo" method="post">

                <div>
                    <input id="idPerso" name="idPerso" type=number th:value="${personnageChoisi.id}" hidden/>
                    <input id="score" name="score" type=number th:value="${nouveauScore}" hidden/>
                </div>
                <div>
                    <p data-th-text="${triche}"></p><br>
                </div>

                <input type="radio" id="prop1" name="reponsePseudo" th:value="${proposition1}" required/>
                <label data-th-text="${proposition1}"></label>
                <br>
                <input type="radio" id="prop2" name="reponsePseudo" th:value="${proposition2}" required/>
                <label data-th-text="${proposition2}"></label>
                <br>
                <input type="radio" id="prop2" name="reponsePseudo" th:value="${proposition3}" required/>
                <label data-th-text="${proposition3}"></label>
                <br>

                <div>
                    <button type="submit">Répondre</button>
                </div>
            </form>
        </div>
    </data-th-block>

    <data-th-block data-th-if="${questionSuivante=='Passer'}">
        <div class="reponse">
        <form action="/jeu/jeu_groupe" method="post">
                <div>
                    <input id="numerodequestion" name="numerodequestion" type="number" value="2" hidden/>
                    <input id="idPerso" name="idPerso" type=number th:value="${personnageChoisi.id}" hidden/>
                    <input id="score" name="score" type=number th:value="${nouveauScore}" hidden/>
                </div>
                <div>
                    <button type="submit">Passage au jeu suivant</button>
                </div>
        </form>
        </div>
    </data-th-block>


</main>

</html>