<html data-th-fragment="frag_layout(content, title)">
<head>
    <meta charset="UTF-8">
    <title data-th-text="${title}">Title</title>
    <link rel="stylesheet" href="/general.css">
    <link rel="stylesheet" href="/jeu.css">
    <link rel="icon" href="/images/logo_luffy.png" size="32x32">
</head>
<body>
    <header>
        <h1 id="nav-title" data-th-text="${title}"></h1>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/personnages">Liste des personnages</a>
                    <ul>
                        <li><a href="/personnages/creer">Rajouter un personnage</a></li>
                    </ul>
                </li>

                <li><a href="/groupes">Liste des équipages</a>
                    <ul>
                    <li><a href="/groupes/creer">Rajouter un équipage</a></li>
                    </ul>
                </li>

                <li><a href="/jeu">Jeu (en construction)</a></li>
            </ul>
        </nav>
    </header>
    <!-- ici je veux utiliser le parmetre de fragment -->
    <main data-th-replace="${content}"></main>
    <footer>
        <p>&copy; L'atelier du chien reveur</p>
    </footer>
</body>
</html>